h1
{
color:blue; font-family: courier;background-color:silver; padding: 75px;
}

h2
{
color:red; font-family:helvetica
}
p
{color:green;font-family: fantasy; border:5px solid white;
}

body {
background-color:orange;
}

img{
border: 10px dashed black; width: 30%; height: 30%; margin-top: 50px; margin-left: 100px;
}
